@font-face { font-family: Poppins; src: url('Poppins-Medium.ttf'); } 

:root{
	--background: #151D27;
    --white: #F0F7F4;
	--primary: #70ABAF;
	--secondary: #99E1D9;
	--third: #7D6F86;
}

::-moz-selection{
	color: var(--background);
	background: var(--primary);
}

::selection{
	color: var(--background);
	background: var(--primary);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: var(--background);
	color: var(--white);
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form{
    display: grid;
    justify-content: center;
}

.notifications{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--third);
    color: var(--white);
}

.img{
    max-width: 300px;
    max-height: 300px;
}

h1,h2,p,a{
    text-align: center;
}

input{
    margin: auto;
    display: block;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--primary);
    color: var(--white);
}

input:focus{
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--third);
}

.explore-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around
}
.item {
    flex: 1 1 auto;
    margin: 10px;
}

button,.btn {
    margin: auto;
    position: relative;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

a{
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    text-decoration: underline;
    color: var(--secondary);
}

.btn-small{
    width: 130px;
    height: 40px;
}

.btn-big{
    width: 100%;
    height: 40px;
}