<head>
	<meta charset="utf-8">
	<title>ITU</title>
	<link rel="shortcut icon" type="image/png" href="/staticFiles/favicon.png"/>
	<meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<link href="/staticFiles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
        <div class="notifications">
              {% for message in messages %}  
                   <p>{{ message }}</p>  
              {% endfor %}  
        </div>
    {% endif %}  
    {% endwith %}
    <div class="explore-container">
        {% for image in images %}
        <div class="items">
            <p><strong>{{image[0]}}</strong></p>
            <div style="padding-bottom: 20px;"></div>
            <img class="img" src="{{ url_for('image', path=image[1]) }}" />
            <div style="padding-bottom: 20px;"></div>
            <p id="link">{{url}}{{image[1]}}</p>
            <div style="padding-bottom: 10px;"></div>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        <button class="btm-small" onclick="window.location.href='{{ url_for( 'explore' , level=level-1 ) }}';">Previous Page</button>
        <button class="btm-small" onclick="window.location.href='{{ url_for( 'explore' , level=level+1 ) }}';">Next Page</button>
    </div>

</body>