<head>
	<meta charset="utf-8">
	<title>ITU</title>
	<link rel="shortcut icon" type="image/png" href="/staticFiles/favicon.png"/>
	<meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<link href="/staticFiles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
        <div class="notifications">
              {% for message in messages %}  
                   <p>{{ message }}</p>  
              {% endfor %}  
        </div>
    {% endif %}  
    {% endwith %}

    
    <div class="container">
        <h1>Upload</h1>
        <div style="padding-bottom: 20px;"></div>
        <form action = "/new" method = "POST" enctype="multipart/form-data">
            <label>Name:</label>
            <input type='text' name='name' />
            <div style="padding-bottom: 20px;"></div>

            <input type="file" name="file" id="actual-btn" style="display: none" hidden />
            <label class="btn" for="actual-btn">Choose File</label>
            <span style="text-align: center;" id="file-chosen">No file chosen</span>

            <div style="padding-bottom: 20px;"></div>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>

    <script>
        const actualBtn = document.getElementById('actual-btn');

        const fileChosen = document.getElementById('file-chosen');

        actualBtn.addEventListener('change', function(){
        fileChosen.textContent = this.files[0].name
        })
    </script>

</body>